[Unit]
Description=Nursery Sensor Service
Requires=mysql
After=mysql
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/nursery/scripts/sensorstask.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
